.env
.env.*
!.env.example

/api/target/
/api/migrations/.diesel_lock

/tui/bin/
*.test
*.out
go.work
go.work.sum

/gui/node_modules/
/gui/.svelte-kit/
/gui/build/
/gui/dev-dist/

*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

/.local/
